In [1]:
import pandas as pd

In [2]:
df_age = pd.read_csv("census_age.csv")
df_age.head()

,Unnamed: 0,Table Name,State Code,District Code,Area Name,Age Group,Total Persons,Total Males,Total Females,Rural Persons,Rural Males,Rural Females,Urban Persons,Urban Males,Urban Females
0,0,C4114,0,0,India,All ages,1210854977,623270258,587584719,833748852,427781058,405967794,377106125,195489200,181616925
1,1,C4114,0,0,India,0-4,112806778,58632074,54174704,82986660,43036377,39950283,29820118,15595697,14224421
2,2,C4114,0,0,India,5-9,126928126,66300466,60627660,93807612,48825259,44982353,33120514,17475207,15645307
3,3,C4114,0,0,India,10-14,132709212,69418835,63290377,96804494,50488158,46316336,35904718,18930677,16974041
4,4,C4114,0,0,India,15-19,120526449,63982396,56544053,83902472,44570557,39331915,36623977,19411839,17212138

In [3]:
# separating states and districts
area_district = []
area_state = []
for x in list(df_age["Area Name"].unique()):
    if x[:8] == "State - ":
        area_state.append(x)
    elif x[:8] == "District":
        area_district.append(x)
    else:
        pass

In [4]:
# district wise age distribution
df_processed_district = df_age[df_age["Area Name"].isin(area_district)][["District Code", "Age Group", "Total Persons"]]
df_processed_district = df_processed_district.reset_index().drop(["index"], axis = 1)
print(df_processed_district.head())

   District Code Age Group  Total Persons
0            638  All ages          36842
1            638       0-4           3229
2            638       5-9           2576
3            638     10-14           2684
4            638     15-19           2773

In [5]:
# district wise age distribution
df_processed_state = df_age[df_age["Area Name"].isin(area_state)][["State Code", "Age Group", "Total Persons"]]
df_processed_state = df_processed_state.reset_index().drop(["index"], axis = 1)
print(df_processed_state.head())

   State Code Age Group  Total Persons
0           1  All ages       12541302
1           1       0-4        1414884
2           1       5-9        1411973
3           1     10-14        1413853
4           1     15-19        1237462

In [6]:
df_occupation = pd.read_csv("census_occupation.csv")
df_occupation.head()

,Unnamed: 0,Table Name,State Code,District Code,Area Name,Division,Sub-division,Occupation,Residence,Total Main Worker (Person),...,Employer (Female),Employee (Person),Employee (Male),Employee (Female),Single Worker (Person),Single Worker (Male),Single Worker (Female),Family Worker (Person),Family Worker (Male),Family Worker (Female)
0,0,B0324,35.0,0.0,STATE - ANDAMAN & NICOBAR ISLANDS,0,00,TOTAL,Total,107736.0,...,351.0,84815.0,69118.0,15697.0,16152.0,13577.0,2575.0,2834.0,2229.0,605.0
1,1,B0324,35.0,0.0,STATE - ANDAMAN & NICOBAR ISLANDS,0,00,TOTAL,Rural,55509.0,...,141.0,40758.0,34009.0,6749.0,10942.0,9281.0,1661.0,2105.0,1609.0,496.0
2,2,B0324,35.0,0.0,STATE - ANDAMAN & NICOBAR ISLANDS,0,00,TOTAL,Urban,52227.0,...,210.0,44057.0,35109.0,8948.0,5210.0,4296.0,914.0,729.0,620.0,109.0
3,3,B0324,35.0,0.0,STATE - ANDAMAN & NICOBAR ISLANDS,1,00,"LEGISLATORS, SENIOR OFFICIALS AND MANAGERS",Total,7230.0,...,87.0,2689.0,2323.0,366.0,2594.0,2183.0,411.0,383.0,304.0,79.0
4,4,B0324,35.0,0.0,STATE - ANDAMAN & NICOBAR ISLANDS,1,00,"LEGISLATORS, SENIOR OFFICIALS AND MANAGERS",Rural,3500.0,...,40.0,932.0,829.0,103.0,1744.0,1435.0,309.0,236.0,177.0,59.0

In [7]:
# separating states and districts
area_district = []
area_state = []
for x in list(df_occupation["Area Name"].unique()):
    if x[:8] == "STATE - ":
        area_state.append(x)
    elif x[:8] == "District":
        area_district.append(x)
    else:
        pass

In [8]:
# district wise occupation distribution
df_occupation = df_occupation[df_occupation["Residence"] == "Total"]
df_processed_district = df_occupation[df_occupation["Area Name"].isin(area_district)][["District Code", "Occupation", "Total Main Worker (Person)"]]
df_processed_district.reset_index().drop(["index"], axis = 1, inplace = True)
df_processed_district.head()

,District Code,Occupation,Total Main Worker (Person)
117,638.0,TOTAL,8837.0
120,638.0,"LEGISLATORS, SENIOR OFFICIALS AND MANAGERS",310.0
123,638.0,Legislators and Senior Officials,47.0
126,638.0,Corporate Managers,263.0
129,638.0,PROFESSIONALS,424.0

In [9]:
# state wise occupation distribution
df_occupation = df_occupation[df_occupation["Residence"] == "Total"]
df_processed_state = df_occupation[df_occupation["Area Name"].isin(area_district)][["State Code", "Occupation", "Total Main Worker (Person)"]]
df_processed_state = df_processed_state.reset_index().drop(["index"], axis = 1)
df_processed_state.head()

,State Code,Occupation,Total Main Worker (Person)
0,35.0,TOTAL,8837.0
1,35.0,"LEGISLATORS, SENIOR OFFICIALS AND MANAGERS",310.0
2,35.0,Legislators and Senior Officials,47.0
3,35.0,Corporate Managers,263.0
4,35.0,PROFESSIONALS,424.0

In [10]:
df_district = pd.read_csv("census_population.csv")
df_district.head()

,Unnamed: 0,State Code,District Code,Sub District Code,Category,Name,Residence,Inhabited Villages,Uninhabited Villages,Towns,Households,Population (Person),Population (Male),Population (Female),Area,Population Density
0,0,0,0,0,INDIA,INDIA,Total,597608,43324,7933,249501663,1210854977,623270258,587584719,3287469.00,382.0
1,1,0,0,0,INDIA,INDIA,Rural,597608,43324,0,168612897,833748852,427781058,405967794,3101473.97,279.0
2,2,0,0,0,INDIA,INDIA,Urban,0,0,7933,80888766,377106125,195489200,181616925,102252.03,3685.0
3,3,1,0,0,STATE,JAMMU & KASHMIR,Total,6337,216,122,2119718,12541302,6640662,5900640,222236.00,124.0
4,4,1,0,0,STATE,JAMMU & KASHMIR,Rural,6337,216,0,1553433,9108060,4774477,4333583,220990.10,91.0

In [14]:
# state & district wise population distribution
df_district = df_district[df_district["Residence"] == "Total"]
df_processed_district = df_district[df_district["Category"].isin(["STATE", "DISTRICT"])]
df_processed_district = df_processed_district[["State Code", "District Code", "Name", "Population (Person)", "Area", "Population Density"]]
df_processed_district.head()

,State Code,District Code,Name,Population (Person),Area,Population Density
3,1,0,JAMMU & KASHMIR,12541302,222236.0,124.0
6,1,1,Kupwara,870354,2379.0,366.0
18,1,2,Badgam,753745,1361.0,554.0
39,1,3,Leh(Ladakh),133487,45110.0,3.0
51,1,4,Kargil,140802,14036.0,10.0